Source: ros-jazzy-cl-px4-mr
Section: misc
Priority: optional
Maintainer: Brett Aldrich <brett@robosoft.ai>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-px4-msgs, ros-jazzy-rclcpp, ros-jazzy-smacc2, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-cl-px4-mr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-px4-msgs, ros-jazzy-rclcpp, ros-jazzy-smacc2, ros-jazzy-ros-workspace
Description: SMACC2 client library for PX4 multirotor control via ROS 2 XRCE-DDS
