Source: ros-humble-sm-dance-bot
Section: misc
Priority: optional
Maintainer: Pablo Inigo Blasco <pablo@ibrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-action-msgs, ros-humble-ament-cmake, ros-humble-multirole-sensor-client, ros-humble-nav2-bringup, ros-humble-nav2z-client, ros-humble-navigation2, ros-humble-robot-state-publisher, ros-humble-ros-publisher-client, ros-humble-ros-timer-client, ros-humble-rosidl-default-generators, ros-humble-slam-toolbox, ros-humble-smacc2, ros-humble-sr-all-events-go, ros-humble-sr-conditional, ros-humble-sr-event-countdown, ros-humble-std-msgs, ros-humble-tf2, ros-humble-visualization-msgs, ros-humble-ros-workspace, ros-humble-rosidl-typesupport-fastrtps-c, ros-humble-rosidl-typesupport-fastrtps-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-sm-dance-bot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gazebo, ros-humble-action-msgs, ros-humble-gazebo-plugins, ros-humble-gazebo-ros, ros-humble-multirole-sensor-client, ros-humble-nav2-bringup, ros-humble-nav2z-client, ros-humble-navigation2, ros-humble-robot-state-publisher, ros-humble-ros-publisher-client, ros-humble-ros-timer-client, ros-humble-rosidl-default-runtime, ros-humble-slam-toolbox, ros-humble-smacc2, ros-humble-sr-all-events-go, ros-humble-sr-conditional, ros-humble-sr-event-countdown, ros-humble-std-msgs, ros-humble-tf2, ros-humble-visualization-msgs, ros-humble-ros-workspace
Description: The dance_bot package
