# This is a format job. Pre-commit has a first-party GitHub action, so we use
# that: https://github.com/pre-commit/action

name: Format

on:
  workflow_dispatch:
  pull_request:

jobs:
  pre-commit:
    name: Format
    runs-on: ubuntu-latest
    container:
      image: osrf/ros:jazzy-desktop

    steps:
    - uses: actions/checkout@v2

    - name: Install clang-format
      run: |
       apt update
       apt install -y python3-pip clang-format ros-jazzy-ament-cppcheck pre-commit
       git config --global --add safe.directory `pwd`
    - name: pre-commit
      shell: bash
      run: |
        source /opt/ros/jazzy/setup.bash
        pre-commit run -a
